.bg-black {
    background-color: black;
    width: 100%;
}

.navbar-white {
    color: white;
}

.basket {
    width: 30px;
}

.logo {
    color: silver;
    background-color: black;
    width: 30%;
    text-align: center;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 50px;
}

.section-logo {
    background-color: #9370DB;
    text-align: center;
    padding-top: 40px;
}

.category-container {
    background-color: #9370DB;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 40px;
    padding-bottom: 40px;
    column-gap: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.category-image {
    width: 100%;
}

.category-item {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 500px;
}

.category-item1 {
    background-image: url(/images/image1.jpg);
    background-size: 100%;
}

.recommendations {
    background-color: #9370DB;
    padding: 30px;
    color: silver;
}



.recommend-container {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto auto auto;
    padding: 100px;
}

.recommend-item {
    background-color: rgba(128, 128, 128, 0.138);
    color: white;
    text-align: center;
    height: auto;
}

.productphoto {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 100px;
}

.title {
    display: inline-block;
    color: black;
    font-weight: bold;
    width: 80%;
    text-align: left;
}

.price {
    color: black;
    display: inline-block;
}

.product-info {
    color: rgb(146, 146, 146);
    text-align: left;
}

.contactform {
    margin-top: 150px;
    display: inline-grid;
    width: 100%;
    background-color: white;
}

.submitbut {
    margin-top: 20px;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}




.bubble::after {
    content: '';
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    position: absolute;

    width: 100%;
    background-color: #9370DB;
    height: 5%;
}