.bg-black {
    background-color: black;
    width: 100%;
}

.navbar-white {
    color: white;
}

.basket {
    width: 30px;
}

.logo {
    color: silver;
    background-color: black;
    width: 30%;
    text-align: center;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 50px;
}

.section-logo {
    background-color: #9F2B68;
    text-align: center;
    padding-top: 40px;
}

.category-container {
    background-color: #9F2B68;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 40px;
    padding-bottom: 40px;
    column-gap: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.category-image {
    width: 100%;
}

.category-item {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 500px;
}

.category-item1 {
    background-size: 100%;
}

.recommendations {
    background-color: #9F2B68;
    padding: 30px;
    color: silver;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}




.bubble::after {
    content: '';
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    position: absolute;

    width: 100%;
    background-color: #9F2B68;
    height: 5%;
}

.recommend-container {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto auto auto;
    padding: 100px;
    margin-top: 100px;
}

.recommend-item {
    background-color: rgba(128, 128, 128, 0.138);
    color: white;
    text-align: center;
    height: auto;
    width: 200px;
    margin: 20px;
}

.productphoto {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 100px;
}

.title {
    display: inline-block;
    color: #9F2B68;
    font-weight: bold;
    width: 80%;
    text-align: left;
    font-size: 25px;
}

.price {
    color: black;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.product-subinfo {
    color: rgb(146, 146, 146);
    text-align: left;
}



.contactform {
    margin-top: 150px;
    display: inline-grid;
    width: 100%;
    background-color: white;
}

.submitbut {
    margin-top: 20px;
}




.productimagesec {
    display: inline-grid;
    width: 50%;
    height: 500px;
    background-color: lavender;
}

.productinfo {
    display: inline-grid;
    width: 48%;
    height: auto;
}

.product-largeinfo {
    margin-top: 20px;
    margin-bottom: 200px;
}

.basket-canvas {
    margin: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.basket-left-panel {
    display: inline-grid;
    height: 80%;
    width: 60%;
}

.basket-right-panel {
    display: inline-grid;
    width: 39%;
}

.basket-right-list {
    display: inline-grid;
    text-align: left;
}

.products-container {
    display:inline-grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    margin: auto;
}

