<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CosmicBrand</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<section>
  <h1>Category 1</h1>
  <nav class="filternav" style="background-color: black; color: white;">
    <a>filter here</a>
  </nav>
  <div class="products-container">
    <div class="recommend-item">
      <div class="productphoto">
        photo_p1
      </div>
      <div class="productinfo">
        <div class="title">
          title
        </div>
        <div class="price">
          price
        </div>
        <div class="product-subinfo">
          product info
        </div>
      </div>
    </div>

    <div class="recommend-item">
      <div class="productphoto">
        photo_p2
      </div>
      <div class="productinfo">
        <div class="title">
          title
        </div>
        <div class="price">
          price
        </div>
        <div class="product-subinfo">
          product info
        </div>
      </div>
    </div>

    <div class="recommend-item">
      <div class="productphoto">
        photo_p3
      </div>
      <div class="productinfo">
        <div class="title">
          title
        </div>
        <div class="price">
          price
        </div>
        <div class="product-subinfo">
          product info
        </div>
      </div>
    </div>

    <div class="recommend-item">
      <div class="productphoto">
        photo_p4
      </div>
      <div class="productinfo">
        <div class="title">
          title
        </div>
        <div class="price">
          price
        </div>
        <div class="product-subinfo">
          product info
        </div>
      </div>
    </div>

    <div class="recommend-item">
      <div class="productphoto">
        photo_p5
      </div>
      <div class="productinfo">
        <div class="title">
          title
        </div>
        <div class="price">
          price
        </div>
        <div class="product-subinfo">
          product info
        </div>
      </div>
    </div>

    <div class="recommend-item">
      <div class="productphoto">
        photo_p6
      </div>
      <div class="productinfo">
        <div class="title">
          title
        </div>
        <div class="price">
          price
        </div>
        <div class="product-subinfo">
          product info
        </div>
      </div>
    </div>
    <div class="recommend-item">
      <div class="productphoto">
        photo_p7
      </div>
      <div class="productinfo">
        <div class="title">
          title
        </div>
        <div class="price">
          price
        </div>
        <div class="product-subinfo">
          product info
        </div>
      </div>
    </div>
    <div class="recommend-item">
      <div class="productphoto">
        photo_p8
      </div>
      <div class="productinfo">
        <div class="title">
          title
        </div>
        <div class="price">
          price
        </div>
        <div class="product-subinfo">
          product info
        </div>
      </div>
    </div>
    <div class="recommend-item">
      <div class="productphoto">
        photo_p9
      </div>
      <div class="productinfo">
        <div class="title">
          title
        </div>
        <div class="price">
          price
        </div>
        <div class="product-subinfo">
          product info
        </div>
      </div>
    </div>
    <div class="recommend-item">
      <div class="productphoto">
        photo_p10
      </div>
      <div class="productinfo">
        <div class="title">
          title
        </div>
        <div class="price">
          price
        </div>
        <div class="product-subinfo">
          product info
        </div>
      </div>
    </div>
    <div class="recommend-item">
      <div class="productphoto">
        photo_p11
      </div>
      <div class="productinfo">
        <div class="title">
          title
        </div>
        <div class="price">
          price
        </div>
        <div class="product-subinfo">
          product info
        </div>
      </div>
    </div>
    <div class="recommend-item">
      <div class="productphoto">
        photo_p12
      </div>
      <div class="productinfo">
        <div class="title">
          title
        </div>
        <div class="price">
          price
        </div>
        <div class="product-subinfo">
          product info
        </div>
      </div>
    </div>



  </div>

</section>

<div th:replace="~{fragments/footer :: footer}">footer</div>
</body>
</html>